body {
    background-color: #f0f2f5;
}

.content {
    width: 100%;
    max-width: 600px;
    padding: 0 1rem;
    margin: 2rem auto;
}

.section {
    background-color: white;
    padding: 2rem;
    box-shadow: 0 0 12px #eee;
    margin-bottom: 2rem;
}

.section--table {
    padding: 0;
}

.center {
    display: flex;
    justify-content: center;
}

.sample {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}
